.forgot-password-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 600px; /* or adjust as needed */


}
  
  .forgot-password-container h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
  }
  
  .forgot-password-container p {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .reset-button {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #333;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link a {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  
  .terms-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-weight: 600;
  }
  
  .terms-row input[type="checkbox"] {
      margin-right: 10px;
  }
  
  /* Add more specific styles as needed */
  